<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <meta charset="UTF-8">
    <title>主界面</title>
</head>
<body>
<div class="weui-grids">
    <a href="repair_computer.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="..\images\icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
            维修电脑
        </p>
    </a>
    <a href="order_water.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="..\images\icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
            预约送水
        </p>
        </p>
    </a>
    <a href="order_expressage.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="..\images\icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
            预约快递
        </p>
    </a>
</div>


<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</body>
</html>